#navBarMenu{
    background-color: rgb(84, 51, 15);
}

.btn-sesion {
    background-color: transparent;
}

#logo_image{
    width: 3em;
    height: 3em;
}


.shopping-and-sesion {
    display: flex;
    flex-direction: row;
    
}
