.edu-au-vic-wa-nt-guides {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-weight: 500;
    font-optical-sizing: auto;
    color: #5c7080;
}

.mar_edu{
    margin-top: 24%;
}

.second-principal-title {
    margin-bottom: 4em;
}

/* Clase para la fuente 'Edu AU VIC WA NT Guides' */
.google-font-pacific {
    font-family: 'Edu AU VIC WA NT Guides', cursive;
    font-weight: 500;
    color: grey;
  }
  
  /* Clase para la fuente 'Pacifico' */
  .pacific {
    font-family: 'Pacifico', cursive;
    color: rgb(79, 103, 142);
    font-size: x-large;
    text-align: center;
  }

.button {
    justify-content: center;
    letter-spacing: 5px;
    padding: 12px;
    width: 190px;
    cursor: pointer;
    background: linear-gradient(32deg, #ff5e0080, #ae00ffef);
    color: #fff;
    text-align: auto;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 15px 10px;
    transition: 0.3s ease-in-out;

}

.button:hover {
    border: 1px solid;
    background: linear-gradient(15deg, #f7be01cb, #c300ff);
    border-color: #fff;
    box-shadow: 0 0 7px 0 #fff, 0 0 50px 10px #f7be01cb;
}